html {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(173, 173, 179);
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

.title a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: serif;
    font-style: italic;
}


nav {
    background-color: blue;
}

nav a {
    text-decoration: none;
    color: white;
}

.sectionB {
    width: 80%;
    padding-left: 1rem;
    margin: auto auto;
}

nav ul {
    margin-left: 45rem;
}

.navlist li {
    display: inline-block;
    margin-left: 1.8rem;
}

h1 {
    font-size: 5.2rem;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 300px;
    height: 400px;
    border-radius: 50%;
    border: solid 1px blue;
    animation: smallbig 2s;
    animation-iteration-count: 1;
}

img:hover {
    animation: rightleft 1s;
}


@keyframes rightleft {
    30% {
        transform: translate(50px, 0px);
    }
    70% {
        tranform: translate(-50px, 0px);
    }
}

@keyframes smallbig {
    30% {
        transform: scale(0.1);
    }
    70% {
        transform: scale(1.2);
    }
}

.bodyA {
    display: grid;
    width: 90%;
    grid-template: 1fr / 1fr 1fr 1fr;
    padding-left: 1rem;
    margin: 3rem auto 0;
    align-items: center;
    justify-items: center;
}

.bodyA p {
    width: 90%;
}

.num {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    font-weight: 500;
    font-family: cursive;
}

.num p {
    margin: 0 auto;
}

.number {
    padding: 0.85rem;
    border: solid 1.85rem blue;
    background-color: rgb(118, 118, 248);
    font-size: 3rem;
    margin: -1.4rem auto 0;
    
}

h3 {
    font-family: cursive;
    font-size: 3rem;
    cursor: pointer;
}

h3:hover {
    color: blue;
}

span {
    color: blueviolet;
    cursor: pointer;
}

p {
    padding: 0rem 1rem 2rem;
    width: 50%;
}

figure {
    background-color: white;
    height: 5rem;
    width: 100%;
    margin: auto auto;
    font-size: 2rem;
}

figure div {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

footer {
    background-color: black;
    height: 6rem;
    width: 100%;
    color: white;
    margin: 0 auto;
    text-align: center;
}

/* For Contact.html */
input, textarea{
    background-color: rgb(212, 212, 214);
    border: solid 1px blue;
    border-radius: 5%;
    font-family: cursive;
    font-weight: 600;
}
input {
    height: 2rem;
}
input:hover, textarea:hover {
    background-color: aliceblue;
    border: solid 1px red;
}
input:active, textarea:active {
    background-color: white;
    border: solid 1px blue;
}

form {
    margin: 1.5rem 37%;
}

.bodyAC {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 90%;
    margin: 3rem auto 0;
}

/* Poetry */

.poetry .poet {
    top: -100%;
    position: fixed;
    transition: top 1.2s ease 0.5ms;
}

.poetry:hover .poet{
    top: 5rem;
    background-color: rgb(118, 118, 248);
    width: 80%;
}

/* FOR DIFFERENT SCREEN SIZES */

@media only screen and (max-width: 860px) and (min-width: 481px) {
    body {
        font-size: 1.8rem;
    }

    nav ul {
        margin-left: 15rem;
    }

    .navlist li {
        margin-left: 1.2rem;
    }

    .bodyA {
        grid-template: 1fr 1fr / 1fr 1fr;
    }

    p {
        padding: 0rem 0rem 1rem 1rem;
        width: 90%;
    }

}

@media only screen and (max-width: 480px) {
    .bodyA {
        display: block;
        width: 90%;
        padding-left: 1rem;
        margin-top: 5rem;
    }

    h1 {
        font-size: 3.2rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    .poetry .poet {
        top: -200%;
        position: fixed;
    }

    img {
        width: 10rem;
        height: 10rem;
        margin-left: 3rem;
        border-radius: 0rem;
        border: none;
    }

    nav ul {
        margin-left: 1rem;
    }

    .navlist li {
        margin-left: 1.3rem;
    }

    figure div {
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr 1fr;
    }

    p {
        padding: 0rem 0rem 1rem 1rem;
        width: 90%;
    }

    .num p {
        margin: 1rem auto;
    }

    .bodyAC img{
        display: none;
    }

    .bodyAC {
        grid-template: 1fr / 1fr;
    }

    form {
        margin: 0 auto 1.5rem;
        text-align: center;
    }
}